beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
fuzzywuzzy==0.18.0
idna==2.10
lxml==4.6.1
packaging==20.4
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.2
webdriver-manager==3.2.2
